@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl my-1 lg:my-2 lg:mx-auto p-5 md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .grid-center {
    @apply grid justify-center items-center;
  }
  .grid-between {
    @apply grid justify-between;
  }

  .h1 {
    @apply font-semibold text-3xl lg:text-5xl uppercase;
  }

  .h2 {
    @apply font-bold text-2xl lg:text-3xl uppercase;
  }
  .h3 {
    @apply font-bold text-xl lg:text-2xl uppercase;
  }

  .h4 {
    @apply font-medium text-base lg:text-lg uppercase;
  }
  .body-1 {
    @apply text-[0.85rem] lg:text-[1rem] text-accent-foreground;
  }
  .body-2 {
    @apply lg:text-[0.85rem] text-[0.65rem];
  }

  .hover-scale {
    @apply hover:scale-110;
  }
  .hover-translateY {
    @apply hover:translate-y-[-0.5rem];
  }
  .image {
    @apply rounded-lg w-full h-full;
  }
  .link {
    @apply text-primary-foreground pb-[1px] transition-all duration-300 hover:text-primary;
  }
}

@layer base {
  :root {
    --background: #f6f6f6;
    --foreground: #212121;
    --accent: #eef1ee;
    --accent-foreground: #818894;
    --primary: #576e51;
    --primary-foreground: #f6f6f6;
    --secondary: #f9f6dc;
    --secondary-foreground: #484632;
    --popover: #ffffff;
    --popover-foreground: #1c0d08;
    --muted: #eef1ee;
    --muted-foreground: #818894;
    --destructive: #fa7070;
    --destructive-foreground: #f5fbff;
    --input: #d9e4c1;
    --ring: #1c0d08;
    --chart-1: #e44926;
    --chart-2: #33a060;
    --chart-3: #2d5f77;
    --chart-4: #e5b13b;
    --chart-5: #f3c54c;
    --radius: 1rem;
  }

  .dark {
    --background: #212121;
    --foreground: #f6f6f6;
    --accent: #1a2118;
    --accent-foreground: #b4b4b4;
    --primary: #576e51;
    --primary-foreground: #f6f6f6;
    --secondary: #484632;
    --secondary-foreground: #f9f6dc;
    --popover: #1c0d08;
    --popover-foreground: #f5fbff;
    --muted: #1a2118;
    --muted-foreground: #91979e;
    --destructive: #ca8787;
    --destructive-foreground: #eef1ee;
    --ring: #d7dce5;
    --chart-1: #3399ff;
    --chart-2: #33cc99;
    --chart-3: #ff9933;
    --chart-4: #a64dff;
    --chart-5: #ff4da6;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground font-normal;
  }
}
