@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl my-1 lg:my-2 lg:mx-auto p-5 md:px-10 w-full;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .grid-center {
    @apply grid justify-center items-center;
  }
  .grid-between {
    @apply grid justify-between;
  }

  .h1 {
    @apply font-semibold text-3xl lg:text-5xl uppercase;
  }

  .h2 {
    @apply font-bold text-2xl lg:text-3xl uppercase;
  }
  .h3 {
    @apply font-bold text-xl lg:text-2xl uppercase;
  }

  .h4 {
    @apply font-medium text-base lg:text-lg;
  }
  .body-1 {
    @apply text-[0.85rem] lg:text-[1rem] text-accent-foreground;
  }
  .body-2 {
    @apply lg:text-[0.85rem] text-[0.65rem];
  }

  .hover-scale {
    @apply hover:scale-110;
  }
  .hover-translateY {
    @apply hover:translate-y-[-0.5rem];
  }
  .image {
    @apply rounded-lg w-full h-full;
  }
  .link {
    @apply text-primary-foreground pb-[1px] transition-all duration-300 hover:text-primary;
  }
}

@layer base {
  :root {
    --background: #e7eceb;
    --foreground: #020705;

    --accent: #cfd9d6;
    --accent-foreground: #587b70;
    --muted: #88a199;
    --muted-foreground: #092119;

    --primary: #114232;
    --primary-foreground: #e7eceb;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --destructive: #c64756;
    --destructive-foreground: #f4f4f4;

    --input: #d5e5b9;

    --ring: #1c0d08;
    --chart-1: #e44926;
    --chart-2: #33a060;
    --chart-3: #2d5f77;
    --chart-4: #e5b13b;
    --chart-5: #f3c54c;
    --radius: 1rem;
  }

  .dark {
    --background: #11140b;
    --foreground: #f7faf1;

    --accent: #222917;
    --accent-foreground: #eef5e3;

    --muted: #55663a;
    --muted-foreground: #d5e5b9;

    --primary: #aacb73;
    --primary-foreground: #212121;

    --popover: #000;
    --popover-foreground: #fff;

    --destructive: #ac0c0c;
    --destructive-foreground: #f4f4f4;

    --ring: #d7dce5;
    --chart-1: #3399ff;
    --chart-2: #33cc99;
    --chart-3: #ff9933;
    --chart-4: #a64dff;
    --chart-5: #ff4da6;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground font-normal;
  }
}
